{% if repair.files %}
  <div class="card my-2">
    <div class="card-header">
      <span class="glyphicon glyphicon-file icon-margin pull-right"></span>
      {{ t(_self, 'title') }}
    </div>
    <div class="card-body">
      {% for file in repair.files %}
        {% if file.image %}
          <a href="{{ file.url }}"><img src="{{ file.thumbUrl }}" class="img-thumbnail text-tooltip"></a>
        {% else %}
          <a href="{{ file.url }}">PNG</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
