<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>403</title>
  <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp-vendor.css"/>
  <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp.css"/>
</head>
<body>

<main class="container">
  <div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'lead') }}</p>
    <br>
    <a class="btn btn-lg btn-primary" href="javascript: history.back();" role="button">{{ t(_self, 'button') }}</a>
  </div>
</main>

</body>
</html>
