<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404</title>
  <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp-vendor.css"/>
  <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp.css"/>
</head>
<body>

<main class="container">
  <div class="panel-spaced bg-light rounded">
    <h1 title="{{ message }}">Nie znaleziono strony</h1>
    <p class="lead">Strona, której szukasz, nie istnieje. Użyj przycisku wstecz lub przejdź do głównej strony
      aplikacji.</p>
    <br>
    <a class="btn btn-lg btn-primary" href="/" role="button">Strona główna &raquo;</a>
  </div>
</main>

</body>
</html>
