<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>429</title>
    <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp-vendor.css"/>
    <link rel="stylesheet" href="/assets-serwisant-cp/serwisant-cp.css"/>
</head>
<body>

<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Zbyt wiele żądań HTTP</h1>
        <p class="lead">
            Wykonujesz zbyt wiele żądań do serwera w krótkim odstępie czasu. Odczekaj 2-3 minuty, i wróć do
            przeglądania.
        </p>
    </div>
</main>

</body>
</html>
