<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messages.items %}
        <tr>
            <th scope="row">{{ message.createdAt }}</th>
            <td>{{ message.subject }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ paginator(messages.pages) }}