{% include 'repair/panel_change_status.html.twig' with {'parent': 'ca'} %}

{{ form_errors(_self, rating_errors) }}
{% include 'shared/rating.html.twig' with {'isRateable': repair.isRateable, 'formUrl': path('token_rate'), 'rating': repair.rating} %}

<div class="row">
  <div class="col-md-6">
    <div class="pb-2">
      {% include 'repair/panel_info.html.twig' with {'addresses': false} %}
    </div>
    <div class="pb-2">
      {% include 'repair/panel_custom_fields.html.twig' %}
    </div>
    <div class="pb-2">
      {% include 'repair/panel_issue.html.twig' %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="pb-2">
      {% include 'repair/panel_money.html.twig' %}
    </div>
    <div class="pb-2">
      {% include 'repair/panel_status.html.twig' %}
    </div>
    <div class="pb-2">
      {% include 'shared/files.html.twig' with {'files': repair.files, 'title': t('repair.panel_files.title')} %}
    </div>
  </div>
</div>
